<% content_for :page_title, "Index" %>

<section class="section">
    <div class="container">
        <% @posts.each do |post| %>
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content">
                            <p class="title is-4"><%= link_to post.title, post  %></p>
                        </div>
                    </div>
                    <div class="content">
                        <%= post.content %>
                    </div>
                    <!-- commented out not working with rails s - see  https://github.com/justalever/demo_blog_rails/blob/master/app/views/posts/index.html.erb line 16 - 18 -->
                </div>
            </div>
        <% end %>
    </div>
</section>